<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">APP Products</a>
    <a class="btn btn-outline-success" href="/api/productos">View Products</a>
  </div>
</nav>